* {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    text-align: center;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}

html {
    background-color: black;
    color: white;
    user-select: none;
}

.line {
    width: 100%;
    border-bottom: solid 2px #222;
    height: 5px;
    margin-bottom: 13px;
}

.soft {
    color: hsl(237, 15%, 47%);
    font-weight: bold;
    text-shadow: 0px 1px 0px hsl(252, 19%, 57%);
    pointer-events: none;
}

.up {
    width: 40px;
    height: 40px;
    border: solid 2px #333;
    background: #333;
    color: white;
    display: inline-block;
    position: sticky;
    transition: width .2s linear;
}

.up:hover {
    background: #555;
    transform: scale(1.2);
}

button {
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #777;
    background: #333;
    color: white;
    display: inline-block;
    transition: width .2s linear;
}

button:hover {
    cursor: pointer;
    font-size: 18px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #999;
    background: #555;
    color: white;
    display: inline-block;
}

.cantBuy {
    border: 1px solid #777;
    background: #222;
}

.cantBuy:hover {
    border: 1px solid #999;
    background: #444;
}


#notify {
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    width: 400px;
    min-height: 10px;
    color: white;
    border: solid 2px #222;
    background-color: #171717;
    padding: 7px 25px;
    transition-duration: 0.75s;
}

#notify.hide {
    opacity: 0;
    top: -130px;
}

.upText {
    cursor: pointer;
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.skyB {
    color: skyblue;
}

.green {
    color: green;
}

.big {
    font-size: 30px;
}

div.hide {
    display: none;
}

.chart-container {
    width: 800px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* 添加flex布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    overflow: hidden;
    margin: 0 auto; /* 水平居中容器 */
}

#k-line {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}